<div class="loginpage fill">
    <div id="map" data-stellar-background-ratio="0.5">
        <div class="container">
            <form class="form-signin" role="form">
                <h2 class="form-signin-heading">Login</h2>
                <input type="email" class="form-control" placeholder="Email address" autofocus required=""
                       style="margin-top: 30px;">
                <input type="password" class="form-control" placeholder="Password" required="">

                <label class="checkbox">
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
                <button class="btn btn-lg btn-block bluegradient" type="submit">Sign in</button>
            </form>
        </div>
    </div>
</div>