<div class="loginpage fill">
    <div id="map" data-stellar-background-ratio="0.5">
        <div class="container">
            <form class="form-signin" role="form">
                <h2 class="form-signin-heading">Sign in</h2>
                <button class="btn btn-lg btn-block blackgradient" type="submit" style="margin-top: 30px;">Sign up with GitHub
                </button>
                <button class="btn btn-lg btn-block darkbluegradient" type="submit" style="margin-top: 30px;">Sign up with Bitbucket
                </button>
                <button class="btn btn-lg btn-block bluegradient" style="margin-top: 30px;" type="submit">Sign up with email
                </button>
            </form>
        </div>
    </div>
</div>